[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rclipboard"]
	path = rclipboard
	url = https://github.com/sbihorel/rclipboard
